<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Harvest Veggies</title>
</head>

<body>
    <p>login</p>
    {% if result %}
    {{result}}
    {% endif %}
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
        <button type="submit">Longin</button>
    </form>
</body>

</html>