{% extends "layout.html" %}
{% block content %}
<main class="container mt-5">
    {% if orders %}
    <table>
        <thead>
            <th>Date</th>
            <th>Order Amount</th>
            <th>Status</th>
            <th>View</th>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{order.order_date}}</td>
                <td>{{order.order_price}}</td>
                <td>{{order.status}}</td>
                <td>
                    <a href="{{url_for('customer.orderDetails',order_id=order.id)}}">View</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <p>No order history</p>
    {% endif %}
</main>
{% endblock %}