{% extends "layout.html" %}
{% block content %}
<main class="container mt-5">
    <p>This is my orders detail</p>
    <div class="card">
        <div class="card-header bg-success text-white">
            <h2>Draft Order Details</h2>
        </div>
        <div class="card-body">
            <p><strong>Order ID:</strong>{{orderDetail['order'].id}} </p>
            <p><strong>Order Date:</strong>{{orderDetail['order'].order_date}} </p>
            <p><strong>Delivery:</strong>
                {% if orderDetail['order'].is_delivery %}
                YES</p>
            {% else %}
            NO</p>
            {% endif %}
            <p><strong>Status:</strong>{{orderDetail['order'].status}} </p>

            <p><strong>Address:</strong> {{ session.get('address') }}</p>

            <table class="table table-bordered table-hover mt-4">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Item Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in orderDetail['items'] %}
                    <tr>
                        <td>{{ item['item_name'] }}</td>
                        <td>${{ item['per_price'] or '-' }}</td>
                        <td>{{ item['quantity'] }}</td>
                        <td>${{ item['item_price'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if orderDetail['order'].status=='pending' and session.get('user_type')!='staff' %}
            <form action="{{url_for('customer.cancelPendingOrder')}}" method="post">
                <input type="hidden" name="order_id" value="{{orderDetail['order'].id}}">
                <button type="submit">Cancel Order</button>
            </form>
            {% endif %}

            <!-- Order Amount on the right -->
            <p class="fs-4 mb-0"><strong>Order Amount:</strong> ${{ orderDetail['order'].order_price }}</p>
        </div>
    </div>

</main>
{% endblock %}